<div class="background-gradient heading">Filter</div>
<div class="filter" (click)="toggleCards('all')">
  <span class="material-icons">
    done
  </span>
  Show All
</div>
<div class="filter blue" (click)="toggleCards('blue')">
  <span class="material-icons">
    done
  </span>
  Select
</div>
<div class="filter indigo" (click)="toggleCards('indigo')">
  <span class="material-icons">
    done
  </span>
  Select
</div>
<div class="filter red" (click)="toggleCards('red')">
  <span class="material-icons">
    done
  </span>
  Select
</div>
<div class="filter green" (click)="toggleCards('green')">
  <span class="material-icons">
    done
  </span>
  Select
</div>
<div class="filter yellow" (click)="toggleCards('yellow')">
  <span class="material-icons">
    done
  </span>
  Select
</div>
<div class="filter cyan" (click)="toggleCards('cyan')">
  <span class="material-icons">
    done
  </span>
  Select
</div>
